/__pycache__/
dawn/logs
dawn/launcher_log.txt
discord/__pycache__/utils.cpython-37.pyc
discord/__pycache__/response.cpython-37.pyc
discord/__pycache__/presence.cpython-37.pyc
discord/__pycache__/payloads.cpython-37.pyc
discord/__pycache__/exceptions.cpython-37.pyc
discord/__pycache__/client.cpython-37.pyc
discord/__pycache__/baseclient.cpython-37.pyc
discord/__pycache__/activity.cpython-37.pyc
discord/__pycache__/__init__.cpython-37.pyc
